<div class="form-group" ng-class="error && 'has-error' || success && 'has-success' || ''">

    <label ng-if="type != 'button'" class="control-label" for="control_{{name}}">{{title}}</label>

    <input ng-if="type == 'text'" type="text" class="form-control" id="control_{{name}}" placeholder="Enter {{title}}..." ng-model="value">

    <textarea ng-if="type == 'textarea'" class="form-control" id="control_{{name}}" placeholder="Enter {{title}}..." ng-model="value"></textarea>

    <button ng-if="type == 'button'" ng-disabled="!isSuccess()" ng-click="action()">{{title}}</button>

    <span ng-if="error && type != 'button'" class="help-block">{{error}}</span>

</div>