<div class="box-body">
    <div ng-repeat="field in entity.fields" control action="actions[field.action] && actions[field.action]()" error="errors[field.name]" value="values[field.name]" state="states[field.name]" name="field.name" type="field.type" title="field.label"></div>
</div>
