extends ../layout/layout

block content
    h1 Login Page
    p.lead Say something worthwhile here.
    br
    if errors
      #{errors}
    form(role='form', action="",method="post", style='max-width: 300px;')
      .form-group
          input.form-control(type='text', name="username", placeholder='Ваш логин')
      .form-group
        input.form-control(type='password', name="password", placeholder='Пароль')
      button.btn.btn-default(type='submit') Войти
      a(href='/')
        button.btn.btn-primary(type="button") Отмена
      br
      h4= message