extends ../layout/layout

block content
    h1 Register Page
    p.lead Say something worthwhile here.
    br
    if (error && error.length > 0)
      br
      h4.error-msg= error
      br

    form(role='form', action="",method="post", style='max-width: 300px;')
      .form-group
          input.form-control(type='text', name="username", placeholder='Enter Username')
      .form-group
        input.form-control(type='password', name="password", placeholder='Password')
      button.btn.btn-default(type='submit') Submit
      a(href='/')
        button.btn.btn-primary(type="button") Cancel
    br
    h4= info