nav.navbar.navbar-default.navbar-custom.navbar-fixed-top
  div.container-fluid
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='#') Title
    div.collapse.navbar-collapse
      ul.nav.navbar-nav
        block menuNav
          each val in globalMenu || []
            li
                a(href='/p/' + val.uri)= val.title
          if (!user)
            li
              a(href="/login")
                i.icon-doc-text
                | Login
            li
              a(href="/register")
                i.icon-doc-text
                | Register
          if (user)
            li
              a(href="/logout")
                i.icon-doc-text
                | #{user.username} Выход